* {
  -webkit-transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Lato';
  src: url("/Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url("/Lato/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("/Lato/Lato-Light.ttf");
  font-weight: lighter;
}

* {
  font-family: 'Lato';
  font-weight: normal;
}

a:link,
a:visited,
a:active,
.underline {
  color: black;
  border-bottom: 1px solid;
  text-decoration: none;
}