template(name='about')
	h1 I believe the future of the internet is going back to it's roots. 
	p The time when everybody had their own website. This time however these sites are all interconnected.

	h1 This is my only active profile on the internet. 
	p I don't like to force my concepts and accomplishments into someone elses idea of a good CV. I don't like pushing myself into the predefined frames of the known social networks and portfolio sites. I am a designer and programmer, I can make my own environment to present myself in. This is me. What you see here is how I work, this is how I think.