template(name='college')

	h1 Java Tutor

	div
		h2 When
		p 2015

	div
		h2 What
		p Taught "Programming in Java for Beginners"
		
	div
		h2 Where
		p IT College - one of the best IT education institutes in Estonia.

	div
		h2 Why
		p I'm curious about how to teach so anyone can understand. I also wanted to understand Java better.

	div
		h2 How's it going?
		p I completed my first year on the course with expected results. I believe I can do a much better job next year. My aim is to redesign the whole course from scratch to support the wide amplitude of talent and teach the mentality more, rather than the syntax.

	//- div
		//- p(style="text-align:center") <a href="#something">more details...</a>


