template(name='contact')
	form#contactform
		h1 Contact
		form(name="contact")
			div
				h2 To
				p <a href="mailto:krister.viirsaar@gmail.com">krister.viirsaar@gmail.com</a>

			div
				h2 From
				input(type='text')

			div
				h2 Body
				textarea(type='text' style="height:10em; resize:vertical")

