template(name='moodle')
	h1 Moodle
	div
		h2 When
		p 2013
	div
		h2 Where
		p <a href="http://moodle.e-ope.ee" target='_blank'>moodle.e-ope.ee</a>
	div
		h2 What
		p Moodle is an open source e-learning environment. We maintained the Estonian portal moodle.e-ope.ee, which has over 120'000 users.
	div
		h2 Why
		p Learn PHP and take part in an open source community.
	div
		h2 Job
		p Make the necessary changes in the backend code to fix or improve the user experience and take these changes to the Live server safely.
	div 
		h2 How
		ul 
			li Study how Moodle works and improve the UI based on user feedback
			li Find and fix usability errors that users are used to
			li Move the development environment over to a faster and safer deployment system involving git version control
