template(name='movieatmyplace')

	h1 Movie at My Place

	div
		h2 Where
		p <a href="http://movieatmyplace.com">movieatmyplace.com</a>

	div
		h2 What
		p A movie event creator, where guests easily see trailers and vote for movies.

	div
		h2 Why
		p Personal agenda - to experiment with design and learn a new framework - Meteor.js.

	div
		h2 Features
		ul
			li Instant sync between clients
			li Autocomplete for movie titles
			li Trailers are found automatically
			li ...even foreign movie trailers that are not available in IMDb
			li Guests can vote for movies
			li Page background is the poster of the top voted movie
			li Site is fully responsive to tiny and huge screen sizes.

	div
		p <a href="#something">more details...</a>

	//- #final
		//- h1.button Website
		//- h2.button More details