template(name='storytree')
	h1 StoryTree
	div
		h2 When
		p 2012
	div
		h2 What
		p A childrens book library. This is a personal startup that had funding for prototype development.
	div
		h2 Demo
		p <a href="http://youtu.be/Y35AFG_34Z4?t=1m00s" target='_blank'>Prototype demo on youtube</a>
	div
		h2 Why
		p People wanted to hire me to create an Android / iOS app for a childrens book. I decided to take the opportunity and make a bookstore for both platforms using Kivy.org and Python.
	div
		h2 Features
		ul
			li Intuitive interface
			li Children can draw, attach stickers into the book
			li Characters and object can be moved, rotated, resized.
			li Touch the text and it reads itself out loud while highlighting itself word-by-word
			li Users can insert their own books into the database for others to read
			li Author of the book can determine what object can be moved, what colors can be drawn, what stickers stuck
			li The author can either record the speech themselves or hire us to do it for them.

	div
		h2 Status
		p Dead. The prototype was complete and shown around, but no further funding was found. By this time many similar products were found on the market and because releaseing version 1.0 would have meant programming it from scratch, the project was abandoned.
	img.snapshot(src=image)