template(name='studyinformationsystem')
	h1 Study Information System
	div
		h2 When
		p 2014 to 2015
	div
		h2 What
		p SIS enables schools and universities to handle everything from enrolling to courses, taking and retaking subjects to printing out diplomas. It currently holds 14 institutions and has about 60'000 users.
	div
		h2 Where
		p <a href="http://ois.ee" target='_blank'>ois.ee</a> (<a href="https://demo.ois.ee/subject" target="_blank">mini-demo</a>)
	div
		h2 Why
		p Study a very well structured piece of extremely complex software. Get to know PHP and MySQL even better.
	div
		h2 Job
		p Fix programmatical or business logic bugs and change or write new functionality, as the education institutions require.
	div 
		h2 How
		ul 
			li Study and get a deep understanding of how the system works so any changes fit the ecosystem
			li Fix bugs in a perfectionist manner so the system is kept stable and new bugs don't arise
			li Develop new functionality in tact with the well designed structure that is already in place
	div
		h2 Why did you leave?
		p It may sound like a cliche already, but I went looking for new challenges.