.container {
	width: 901px;
	margin: auto;
	vertical-align: top;
}
#messages {
	float: left;
	width: 600px;
	height: 600px;
	overflow: auto;
}
form[name="newmessage"] {
	float: left;
	width: 600px;
}
#users {
	height: 600px;
	float: right;
	width: 300px;
}

.hidden {
	display: none;
}

.hidden-text {
	color: transparent;
}
