template(name='about')
	.about
		h1 Who am I?

		div
			h2 Name
			p Krister Viirsaar

		div
			h2 Location
			p Tallinn, Estonia

		div
			h2 Occupation
			p Software developer

		div
			h2 Passion
			p When I find something that can be improved and others deem it impossible - that's when I get lit up. I go ahead and experiment, try all the ways I can think of - hopefully ending up improving someones experience of life in some way.

		div
			h2 GitHub
			p <a href="https://github.com/KristerV" target="_blank">github.com/KristerV</a>

		div
			h2 Blog
			p <a href="http://code.krister.ee" target="_blank">code.krister.ee</a>

		div
			h2 OS
			p <a href="http://code.krister.ee/my-coding-environment/" target="_blank">Antergos Linux</a>

		div
			h2 Well used bookmarks
			p <a href="http://sidebar.io/" target="_blank">sidebar.io</a>, <a href="http://pixel.ee/" target="_blank">pixel.ee</a>, <a href="http://littlebigdetails.com/" target="_blank">littlebigdetails.com</a>, <a href="http://codinghorror.com/" target="_blank">codinghorror.com</a>, <a href="http://codeborne.com/en/blog/" target="_blank">codeborne.com/blog/</a>

		div
			h3 Why software development?
			p  It all started when I wanted to rule the world with some Android / iOS apps. Now it's more about helping people with useful and well designed software. Plus I just really like figuring out complex systems. AND it's a great prerequisite for webdesign.

		div
			h3 Why Design?
			p Programming and design go together. Design clears the best path for production. It's thinking through all the moving parts of whatever it is you're doing. I can not merely develop software, I need to see the light at the end of the tunnel. I need to know my work is worth something meaningful in the end.

		div
			h3 Would you like to take part in our project?
			p I'm always open for interesting opportunities.

		div
			h3 What is your specialization?
			p I am currently most interested in developing and designing web services that require custom functionality. I call them webapps. Kind of like Android or iOS apps, but on the web and accessible on any device. Only recently has it become possible to have near-native performance websites on mobile. Check out <a href="http://famo.us/demos" target="_blank">these demos on your smartphone</a> for example.

		div
			h3 What will websites be like in the near future?
			p Interesting you should ask. I believe websites will become personal again, because complex functionality is getting easier to implement. Instead of logging into a central social networking site, people will have a public profile on their own domain and social features when they log in. The current social networks will be modularized and available for anyone to use on their site in the way they choose. Disqus is a good example of how this integration is going to work.
