template(name='about')
	.about
		h1 I believe the future of the internet is going back to it's roots.
		p The time of personal websites. The big downside of having centralized social networking sites is the fact that you can't customize that environment much. Imagine instead your profile and social features are on your own domain. You decide exactly how you are seen online and you decide what kind of feeds you would like and how. What the social networks need to do is release their features in modules, ready to integrate into any website. Disqus is a great example of this, the commenting system I use on my <a href="http://code.krister.ee" target="_blank">code blog</a>. Interconnected personal websites are becoming increasingly more plausible and easy to create.

		h1 This is my only active profile on the internet.
		p I present myself to you as a designer-programmer. I love what I do and this page is an expression of it. It also connects all my other project that I am proud of. Enjoy :)
