template(name='about')
	.about
		h1 Who am I?

		div
			h2 Name
			p Krister Viirsaar

		div
			h2 Location
			p Tallinn, Estonia

		div
			h2 Occupation
			p Software developer

		div
			h2 Passions
			p Webdesign, guitar

		div
			h3 Why software development?
			p  It all started when I wanted to rule the world with some Android / iOS apps. Now it's more about helping people with useful and well designed software. Plus I just really like figuring out complex systems. AND it's a great prerequisite for webdesign.

		div
			h3 Why webdesign?
			p I'm a big fan of design on the whole. The process of making something useful in the most effective way. Webdesign specifically is what comes most naturally.

		div
			h3 Would you like to take part in our project?
			p I'm open for opportunities.

		div
			h3 What is your specialization?
			p I am currently most interested in developing and designing web services that require custom functionality. I call them webapps. Kind of like Android or iOS apps, but on the web and accessible on any device. Only recently has it become possible to have near-native performance websites on mobile. Check out <a href="http://famo.us/demos" target="_blank">these demos on your smartphone</a> for example.

		div
			h3 What will websites be like in the near future?
			p I believe websites will become personal again, because complex functionality is getting easier to implement. Instead of logging into a central social networking site, people will have a public profile on their own domain and social features when they log in. The current social networks will be modularized and available for anyone to use on their site in the way they choose. Disqus is a good example of how this integration is going to work.
