template(name='contact')
	h1 Contact
	form(name="contact")
		p I'm open for offering consult and working on new projects.
		div
			h2 To
			p <a href="mailto:krister.viirsaar@gmail.com">krister.viirsaar@gmail.com</a>

		div
			h2 From
			input(type='text', name="from")

		div
			h2 Body
			textarea(type='text' style="height:10em; resize:vertical", name="body")

		div
			h2  
			input(class="bigAssButton" id="submitContact" type="submit" style="width: 70%; display:inline-block; margin: 0 !important;" value="Send")