template(name="subscribe")
	.subscribe
		h1 Subscribe
		form(name="subscribe")
			div
				p If you're into my work, enter your email to recieve the occasional buzz. I'll only email you if something particularly interesting happens.
			div
				input(type='text' name="email" placeholder="name@place.com")

			div
				input(class="bigAssButton" id="submitSubscribe" type="submit" style="width: 70%; display:inline-block; margin: 0 !important;" value="Subscribe")