body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.wrapper {
		h1 {
			font-weight: bold;
			margin-bottom: 0;
		}
		h2 {
			font-weight: lighter;
			margin-top: 0;
		}
		h3 {
			font-weight: normal;
			margin-bottom: 0;
		}
		p {
			margin-top: 0;
			font-weight: lighter;
		}
		.title {
			margin: 3em;
			h2 {
				margin: 0;
			}
			a, p {
				font-weight: lighter;
			}
			a {
				border-color: grey;
			}
		}
		.work {
			margin: 3em;
		}
	}
}