template(name="body")
	.close-extra-wrapper
		img.close-extra#white(src="arrow-full.svg")
		img.close-extra#color(src="arrow.svg")
	#main-wrapper
		div
			.title
				h1 Krister Viirsaar
				h2 Software developer
				p  #[a(href="mailto:krister.viirsaar@gmail.com") email] / #[a(target="_blank" href="http://code.krister.ee") blog] / #[a(target="_blank" href="https://github.com/KristerV") GitHub]
			.work
				.project#movieatmyplace
					h3 <span>MovieAtMyPlace.com</span>
					p 2014 / design experiment / Meteor.js, Node.js, LESS
				.project#studyinformationsystem
					h3 <span>Study Information System</span>
					p 2014-current / job / 60,000 users / PHP, ZendFramework
				.project#moodle
					h3 <span>Moodle.e-ope.ee</span>
					p 2013 / job / 120,000 users / PHP, Moodle
				.project#storytree
					h3 <span>StoryTree</span>
					p 2012 / personal StartUp / Python, Kivy.org, Android, iOS
			//- h2.button Contact
	#extra-wrapper
		//- img.close-extra#third(src="arrow-full.svg")
		.content
			+projectDetails
			img.snapshot(src=image)