template(name="body")
	.wrapper
		h1 Krister Viirsaar
		h2 Software developer

		h3 Movie at My Place
		p 2014, hobby, Meteor.js Node.js LESS
		h3 ÕIS
		p 2013-current, job, PHP
		h3 Moodle
		p 2013, job, PHP
		h3 StoryTree
		p 2012, StartUp, Python Kivy.org Android iOS