template(name="body")
	.wrapper
		.title
			h1 Krister Viirsaar
			h2 Software developer
			p  #[a(href="mailto:krister.viirsaar@gmail.com") email] / #[a(target="_blank" href="http://code.krister.ee") blog] / #[a(target="_blank" href="https://github.com/KristerV") GitHub]
		.work
			h3 #[a(target="_blank" href="http://movieatmyplace.com") MovieAtMyPlace.com]
			p 2014 / full-stack / Meteor.js, Node.js, LESS
			h3 #[a(target="_blank" href="http://ois.ee") Study Information System]
			p 2013-current / backend / 60,000 users / PHP, ZendFramework
			h3 #[a(target="_blank" href="http://moodle.e-ope.ee") Moodle.e-ope.ee]
			p 2013 / backend / 120,000 users / PHP, Moodle
			h3 #[a(target="_blank" href="http://youtu.be/Y35AFG_34Z4?t=1m00s") StoryTree]
			p 2012 / full-stack / Python, Kivy.org, Android, iOS