body {
	overflow: hidden;
	display: flex;
	text-align: center;
	line-height: 1.5em;
	#main-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: auto;
		width: 100%;
		height: 100%;

		h1 {
			font-weight: bold;
			margin-bottom: 0;
		}
		h2 {
			font-weight: lighter;
			margin-top: 0;
		}
		h3 {
			font-weight: normal;
			margin-bottom: 0;
		}
		p {
			margin-top: 0;
			font-weight: lighter;
		}
		.title {
			flex-shrink: 0;
			margin-bottom: 0;
			h2 {
				margin: 0;
			}
			a, p {
				font-weight: lighter;
			}
			a {
				border-color: grey;
			}
		}
		.work {
			flex-shrink: 0;
			margin-top: 0.5em;
			margin-bottom: 2em;
			.project {
				cursor: pointer;
				cursor: hand;
				span {
					border-bottom: 1px solid;
				}
			}
		}
	}
	#extra-wrapper {
		width: 0%;
		position: relative;
		height: 100%;
		overflow: auto;
		color: white;
		a:link, a:visited, a:active, .underline {color: white; }
		.content {
			padding-bottom: 2em;
			max-width: 600px;
			h1 {margin-bottom: 1.4em; }
			h2, p, li {
				font-weight: lighter;
			}
			a:link, a:visited, a:active, .underline {
				font-weight: lighter;
			}
			div:not(:last-child) {
				margin-top: 1em;
				h2 {
					margin: 0;
					margin-right: 0.5em;
					vertical-align: top;
					display: inline-block;
					text-align: right;
					width: 20%;
					min-width: 3em;
				}
				p, ul, ol {
					list-style-position: inside;
					padding: 0;
					margin: 0;
					display: inline-block;
					text-align: left;
					width: 70%;
				}
			}
			#final {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
				flex-wrap: wrap;
			}
			margin: auto;
			margin-left: auto;
			margin-right: auto;
		}
		.close-extra {
			cursor: pointer;
			cursor: hand;
			font-size: 5em;
			font-weight: bold;
			color: transparent;
			
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			height: 100%;
			p {
				position: relative;
				top: 40%;
				padding: 0;
				margin: 0;
			}
		}
	}
	.button {
		flex-shrink: 0;
		position: relative;
		top: 0em;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		padding: 0.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		margin: 0.5em !important;
		background-color: rgba(0,0,0,0.3);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 0.3em 0 0 rgba(0,0,0,0.5);
		box-shadow: 0 0.3em 0 0 rgba(0,0,0,0.5);
		&:hover {
			top: 0.2em;
			-webkit-box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.5);
			box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.5);
		}
		&:active {
			top: 0.3em;
			-webkit-box-shadow: 0 -0.1em 0 0 rgba(0,0,0,0.5);
			box-shadow: 0 -0.1em 0 0 rgba(0,0,0,0.5);

		}
	}
}