template(name="main")
	.close-extra-wrapper
		img.close-extra#white(src="arrow-full.svg")
		img.close-extra#color(src="arrow.svg")
	#main-wrapper
		div
			.title
				h1 Krister Viirsaar
				h2 Software developer
				.button#about <span>About</span> /
				.button#contact <span>Contact</span> /
				//- .button#subscribe <span>Subscribe</span>
			.work
				.button#toitla
					h3 <span>Toitla</span>
					p 2015 / StartUp with a great team / Meteor.js
				.button#college
					h3 <span>Java tutor in IT College</span>
					p 2015 / Tutoring Java to college students / Java
				.button#movieatmyplace
					h3 <span>Movie at My Place</span>
					p 2014 / design experiment / Meteor.js
				.button#studyinformationsystem
					h3 <span>Study Information System</span>
					p 2014-2015 / job / 60,000 users / PHP, ZendFramework
				.button#moodle
					h3 <span>Moodle</span>
					p 2013 / job / 120,000 users / PHP, Moodle
				.button#storytree
					h3 <span>StoryTree</span>
					p 2012 / personal StartUp / Python, Kivy.org, Android, iOS
	#extra-wrapper
		.content
			+projectDetails
			if image
				img.snapshot(src=image, style=imageStyle)